@import (reference) "~common-styles/less/common/common.less";

@import "~common-styles/less/modules/sc-content.less";

@import "~common-styles/less/modules/e-list.less";
//@import "~common-styles/less/modules/e-input.less";

// Module variables
// --------------------------


// Module styles
// --------------------------

#ordersSearch {
  input {
    width: 100%;
  }
}

.ordersAreaLabel {
  .positioned;
  margin-top: 10px;
  font-size: 13px;
  text-align: left;
  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    top: 50%;
    margin-top: -2px;
    width: 100%;
    border-top: 3px double @grayLighter;
  }
  span {
    .positioned;
    display: inline-block;
    background: @white;
    padding: 0 5px;
    margin-left: 10px;
  }
}

#ordersListCurrent {
  li { padding-left: 13px; } // compensate width countdown-width (compared to status-width)
}