@import (reference) "~common-styles/less/common/common.less";

@import "~common-styles/less/modules/e-label.less";

// Module Variables

@orderDetailsMobileSmallerFontSize: 9px;
@orderDetailsMobileSmallFontSize:  11px;
@orderDetailsMobileBaseFontSize:   14px;
@orderDetailsMobileBigFontSize:    21px;

@orderDetailsTabletSmallerFontSize:13px;
@orderDetailsTabletSmallFontSize:  16px;
@orderDetailsTabletBaseFontSize:   20px;
@orderDetailsTabletBigFontSize:    30px;

// Module Styles

.orderDetails {
  padding: 0 5px 5px;
}

.orderDetailsContent {
  padding: 0;
  overflow: hidden; // keep edges round
  text-align: left;
  border: 1px solid @grayLighter;
  
  font-size: @orderDetailsMobileBaseFontSize; // set base font size for order details
  
  .box-shadow(0 1px 5px 0 rgba(0,0,0,0.1));
  .border-radius(3px);

  .icn {
    display: inline-block;
    font-size: @orderDetailsMobileSmallFontSize;
    color: @grayLight;
    margin-right: 10px;
  }
  
  .orderedItemAmount, .orderedItemCategory {
    color: @white;
  }
  
  .orderedItemAmount {
    background: @gray;
  }
  
  .orderedItemCategory {
    background: @grayDark;
  }
}

.orderDetailsHead {
  border-bottom: 1px solid @grayLighter;
  padding: 0;
  background: @darkWhite;
  font-size: @orderDetailsMobileSmallFontSize;
  .sc-tc100;
  .border-box;
  
  > div {
    vertical-align: middle;
    padding: 10px 10px 8px;
  }
  
  .icn {
    display: table-cell; // overrid inline-block default style
    width: 21px;
    font-size: @orderDetailsMobileBigFontSize;
    padding: 5px 15px;
    border-left: 1px solid @grayLighter;
  }
}

.orderDetailsDueTime {
  width: 70px;
  font-size: @orderDetailsMobileBigFontSize;
//  color: @orange;
  text-align: right;
  padding: 5px 15px 0 !important;
  
  &:before {
    content: "BIS";
    display: inline-block;
//    vertical-align: middle;
    margin-right: 5px;
    color: @gray;
    font-size: @orderDetailsMobileSmallerFontSize;
  }
}


.orderDetailsAbstract {
  display: table;
  table-layout: fixed;
  width: 100%;
  
  border-bottom: 3px double @grayLighter;
  
  > div {
    display: table-cell;
    vertical-align: top;
//    font-size: @orderDetailsMobileBaseFontSize;

    > div {
      padding: 10px 10px 8px;
      border-bottom: 1px solid @grayLighter;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.ordererDetails {
  border-right: 1px solid @grayLighter;
}

.ordererAddress {
  
  &:before {
    content: "AN";
    font-size: @orderDetailsMobileSmallerFontSize;
    display: block;
    margin-bottom: 5px;
    color: @gray;
  }
}

.ordererDeliveryArea {
  display: block;
  margin-top: 5px;
}

.ordererMessage {
  display: table;
  
  .icn { display: table-cell}
  
  .ordererMessageContent {
    display: table-cell;
    padding-left: 10px;
  }
}

//.orderTimeQrCode {
//  color: @blue;
//  font-size: @orderDetailsMobileBigFontSize;
//  
//  &:before {
//    content: "BIS";
//    font-size: @orderDetailsMobileSmallFontSize;
//    display: inline-block;
//    margin-right: 5px;
//  }
//}

.orderedArticlesList {
  
  padding: 0;
  border-bottom: 1px solid @grayLight;
  margin: 10px 0 5px 0;
  
  counter-reset: articlesListCounter; // initialize counter
  
  li {
    .positioned;
    margin: 0 0 10px;
    display: block;
    font-size: @orderDetailsMobileSmallFontSize;
    padding: 0 0 10px 15px !important; // override #ordersList li.current padding
    
    counter-increment: articlesListCounter; // set counter increment to li
  
    &:before {
      content: counter(articlesListCounter)")"; // set counter as pseudocontent
      position: absolute;
      top: 7px;
      left: -7px;
      width: 15px;
      text-align: right;
      display: block;
      color: @grayLight;
      font-size: @orderDetailsMobileSmallerFontSize;
    }
  }
}

.orderedArticleBase, .orderedMenuBase {
  .sc-tc100;
  table-layout: auto;
}

.orderedItem {
  width: 100%;
}


.orderedItemBase {
  .sc-tc;
  table-layout: auto;
  background: @darkerWhite;
  .border-radius(2px);
  
  > div {
    padding: 5px 5px 3px;
    vertical-align: middle;
    
    &:first-child {
      .border-radius(2px 0px 0 2px); // to not override the border-radius of the parent-element
    }
  }
}

.orderedItemLabel {
  padding-left: 0 !important;
  vertical-align: top !important;
  .label {
    white-space: nowrap;
  }
}

.orderedItemPaidExtras {
  .label {
    font-size: inherit;
    color: @orange;
    border-color: @orange;
    margin: 5px 0 0 5px;
  }
}



.orderedItemPrice {
  white-space: nowrap;
  .price;
  text-align: right;
  padding: 5px 5px 3px;
  vertical-align: middle;
}

//// For menu:
//
//.ordered
//
//.orderedArticle {
//  > .orderedItem {
//    margin-bottom: 10px;
//    &:last-child {
//      margin-bottom: 0;
//    }
//  }
//}

.orderedArticle {
  
//  .orderedItemBase {
//    width: 100%;
//  }
  
  .orderedItemTitle {
    width: 100%; // stretch item to 100% in Articles
  }
}


.orderedMenu {

  header {
    .positioned;
    .orderedItemTitle {
      width: 100%;
    }
    
    &:before {
      content: "";
      background: @grayLighter;
      width: 1px;
      top: 27px;
      bottom: -10px;

      position: absolute;

      left: -10px;
    }
  }
  
  > .orderedItem {
    .positioned;
    margin: 10px 0 0 10px;
    
    &:before {
      content: "";
      background: @grayLighter;
      width: 1px;
      top: -10px;
      bottom: 0;

      position: absolute;

      left: -20px;
    }
    
    &:first-of-type:before {
      top: 0;
    }

    &:last-child {
      
      &:before {
        display: none;
      }
      
      .orderedItemBase:after {
        content: "";
        background: @grayLighter;
        width: 1px;
        top: -10px;
        bottom: 50%;

        position: absolute;

        left: -20px;
      }
    }
    
    .orderedItemBase {
      .positioned;
      
      &:before {
        content: "";
        background: @grayLighter;
        width: 15px;
        height: 1px;
        margin-top: 0;
        position: absolute;
        top: 50%;
        left: -20px;
      }
    }
  }
}




.orderedArticlesListOverallSum {
  text-align: right;
  padding-right: 5px;
  color: @blue;
  .price;
  
  span {
    vertical-align: middle;
  }
}

.orderPaymentMethod {
  background: @blue;
  margin-right: 10px;
}

// Order Details Items (overrides standard styles)

.orderDetailsItems {
  
  counter-reset: orderDetailsItemsCounter;
  
  > div {
    counter-increment: orderDetailsItemsCounter;
    position: relative;
    border-bottom: 1px dashed @grayLight;
    
    &:last-child {
      border-bottom: none;
    }
    
    &:before {
      content: counter(orderDetailsItemsCounter)")";
      position: absolute;
      top: 19px;
      left: 3px;
      width: 15px;
      text-align: right;
      display: block;
      color: @grayLight;
      font-size: @orderDetailsMobileSmallFontSize;
    }
  }
  
  .orderedItem {
    .border-box;
    padding: 10px 10px 10px 25px;
  }
  
  .orderedItemBase {  
    
    width: 100%;
    > div {
      
      padding: 5px 10px;
      
      &:last-child {
        width: 100%; // stretches header to full width
      }
    }
  }
  
  .orderedItemTitle {
    white-space: nowrap;

    > span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .orderedItemLabel {
    line-height: 1;
    vertical-align: middle !important;
  }
  
  .orderedMenu {
    header {
      .orderedItem {
        padding-bottom: 0;
      }
      
      .orderedItemLabel {
        padding: 7px;
      }
      
      &:before {
        top: 55px;
        left: 25px;
      }
    }
    
    > .orderedItem {
      margin: 0;
      padding-left: 35px;
      padding-top: 5px;
      
      &:before {
        left: 15px;
        top: 0;
      }
      
      &:first-of-type {
        padding-top: 20px;
      }

      &:last-child .orderedItemBase:after {
        left: -20px;
      }
      
      .orderedItemBase {
        
        &:before {
          left: -20px;
          width: 15px;
        }
      } 
    }
  }
}

.orderedItemIngredients {
  .sc-tc100;
  table-layout: auto;
  margin: 10px 0 0;
  .border-box;
  
  > div {
    text-align: center;
    padding: 5px 20px;
    border-right: 1px solid @grayLighter;
    
    &:last-child {
      border-right: none;
    }
  }
  
  header {
    font-size: @orderDetailsMobileSmallerFontSize;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: @grayLight;
  }
  
  .orderedItemIngredientLabels {
    
    > div {
      display: inline-block;
      text-align: left;
    }
  }
  
  .label {
    color: @blue;
    border-color: @blue;
    margin: 0 3px 3px;
  }
}


// Module responsiveness
// --------------------------

// Portrait Tablet (ratio: 0.7 - 0.5)

@media only screen and (min-width : 450px) {

  
  .orderDetails {
    padding: 0 25px 25px;
  }
  
//  font-sizes to tablet size
  
  .orderDetailsContent {
    font-size: @orderDetailsTabletBaseFontSize;
    
    .icn {
      font-size: @orderDetailsTabletSmallFontSize;
      margin-right: 15px;
    }
  }
  
  .orderDetailsHead {
    font-size: @orderDetailsTabletSmallFontSize;  
    
    > div {
      padding: 20px 20px 18px;
    }
    
    .icn {
      width: 30px;
      font-size: @orderDetailsTabletBigFontSize;
      padding: 10px 20px;
    }
  }
  
  .orderDetailsDueTime {
    font-size: @orderDetailsTabletBigFontSize;  
    width: 100px;
    padding: 10px 20px 0 !important;
    
    
    &:before { font-size: @orderDetailsTabletSmallerFontSize; }
  }
  
  .orderDetailsAbstract {
    > div > div {
      padding: 20px 20px 18px;
    }
  }
  
  .ordererAddress:before {
    font-size: @orderDetailsTabletSmallerFontSize;
  }
  
  .ordererMessage .ordererMessageContent {
    padding-left: 15px;
  }
  
  .orderedArticlesList {
    li {
      padding-left: 25px !important;
      font-size: @orderDetailsTabletSmallFontSize;

      &:before {
        width: 15px;
        font-size: @orderDetailsTabletSmallerFontSize;
      }
    }
  
    .orderDetailsItems > div:before {
      font-size: @orderDetailsTabletSmallFontSize;
    }
  }
  
  .orderDetailsItems {
    
    > div:before {
      top: 29px;
      left: 10px;
      width: 20px;
    }
    
    .orderedItem {
      padding: 20px 20px 20px 40px;
    }
    
    .orderedMenu {
      > .orderedItem {
        padding-left: 60px;
        padding-top: 10px;
        
        &:before {
          left: 25px;
        }
        
        .orderedItemBase {
          &:before {
            width: 25px;
            left: -35px;
          }
        }
        
        &:last-child .orderedItemBase:after {
          left: -35px;
        }
      }
    }
  }
}

@media only screen and (max-width : 650px) {
  
  .orderDetailsAbstract {
    display: block;
    > div {
      display: block;
    }
  }
  .ordererDetails {
      border-right: none; 
      border-bottom: 1px solid @grayLighter;
  }
}