@import (reference) "~common-styles/less/common/common.less";

.orderRemainingTime {
  /*svg { border: 1px solid @grayLighter;}*/
  svg {
    transform: rotate(-90deg);
  }
}

.orderRemainingTimeStroke {
  stroke: @greenLight;
  stroke-width: 10px;
  fill: none;
}

