@import (reference) "~common-styles/less/common/common.less";

// Module variables
// --------------------------


// Module styles
// --------------------------

.orderStatus {
  width: 15px;
  padding-right: 15px;
  text-align: center;
  overflow: visible !important;
  .icn;
  .iCheck;
  font-size: 16px;
  top: -2px;
  color: @grayLight;
}

// Order-status is loading Keyframes

//.orderStatus {
//  &:before {
//    content: "";
//    display: inline-block;
//    background: @grayLighter;
//    .square(15px);
//    .circle;
//    .positioned;
//    top: 1px;
//  }
//  &.isLoading:before {
//    -webkit-animation: orderStatusIsLoading 1s ease-out infinite;
//    animation:         orderStatusIsLoading 1s ease-out infinite;
//    .transform-origin(50%, 50%, 0);
//  }  
//}
//
///* Chrome, Safari, Opera */ 
//@-webkit-keyframes orderStatusIsLoading {
//    0%     {.scale(1)}
//    50%    {.scale(0.7)}
//    100%   {.scale(1)}
//} 
//
///* Standard syntax */
//@keyframes orderStatusIsLoading {
//    0%     {.scale(1)}
//    50%    {.scale(0.7)}
//    100%   {.scale(1)}
//}


.orderTime {
  width: 50px;
  text-overflow: clip;
  &:after {
    content: "";
    height: 1px;
    width: 30px;
    display: inline-block;
    background: @grayLighter;
    margin-left: 5px;
    vertical-align: middle;
  }
}

.orderDestination {
  padding-right: 5px;
}

.orderDeliveryArea {
  &:before {
    content: " in ";
  }
}

.orderDueTime {
  text-align: right !important;
  width: 45px;
  color: @orange;
  
  &.orderDueDate {
    width: 50px;
  }
  
  &.orderDueDateFullFormat {
    width: 70px;
  }
}

.orderTimeToDueTime {
  display: block;
  font-size: 13px;
}

.orderClaim {
  display: none !important;
}

.orderDestination,
.orderOrderer,
.orderDeliveryArea,
.orderDueTime {
  &:before {
    color: @grayLight;
  }
}

// Module responsiveness
// --------------------------

// Portrait Tablet

@media only screen and (min-width : 450px) {

  .orderStatus {

    width: 20px;
    padding-right: 25px;
    font-size: 22px;
  }
  
  .orderDueTime {
    width: 60px;
    
    &.orderDueDate {
      width: 70px;
    }
    
    &.orderDueDateFullFormat {
      width: 95px;
    }
  }
  
  .orderTimeToDueTime {
    font-size: 18px;
  }
  
}